# Egg info
*.egg-info/

# Python cache
__pycache__/

# Proto and src directories created by the orchestrator tests
./proto/
./src/
src/grpc/

# Coverage reports
.coverage
htmlcov/

# Testing cache
.pytest_cache/

# Distribution files
dist/
build/

# Virtual environment
.venv/

# Environment variables
.env